<% @page_title="Update Event Form" %>

<!-- SECTION 1 -->
<section id="mc-section-1" class="mc-section-1 section" style="padding:30px 10px; 30px; 10px;">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<h2 class="h2-flush-top"><%=@page_title%></h2>
			</div>
			<div class="col-lg-7">
				<%= render "layouts/nav" %>
			</div>
		</div>
		
		<%= render "new_edit" %>
    </div>
</section>
<!-- END / SECTION 1 -->
