<% @page_title="About Us" %>
<!-- SECTION 1 -->
<section id="mc-section-1" class="mc-section-1 section" style="padding:30px 10px; 30px; 10px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="text-uppercase"><%=@page_title%></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="aboutus-text">
            <p>Founded in July of 2018 and based in Manassas, Virginia, Aspirr is a website that connects people with common needs to providers of these needs. Our mission is to connect novices with experts, students with teachers, and trainees with trainers, and many others. Aspirr is all about what you want. You asks for experiences you wants and the community will try to fulfill your needs. Providers will be creating services for you and others with the same needs.</p>
            
            <h3>Case Scenario 1</h3>
            <p>A handful of unrelated people wants to learn the same new technology. They been searching for months and couldn't find any trainer that offers the class. Using Aspirr, providers were able find them and able to offer the classes for a competitive and sensible rate.</p>
            <h3>Case Scenario 2</h3>
            <p>A number of parents in a housing community needed a home daycare. With Aspirr, a struggling home daycare startup quickly seizes this opportunity and got it's initial clients.</p>
            <h3>Case Scenario 3</h3>
            <p>A number of individuals in the same suburb of a major city wanted to learn how to make sushi from scratch. Several individual chefs were able to make the connections with these people via Aspirr.</p>
            <h3>Case Scenario 4</h3>
            <p>Joe wanted to learn the Cha-Cha with his girlfriend. There are places that offer these classes but they didn't fit Joe's schedule and was too far. Aspirr helped them find their Cha-Cha instructor because after seeing this offer on Aspirr many random people started signing up for the class too.</p>
            <h3>Summary</h3>
            <p>All the scenarios above have something in common. Individually, it is unlikely to get a provider to commit to servicing a single individual. This is where Aspirr can help to aggregate these common interests together and allow providers to commit to their services.</p>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- END / SECTION 1 -->