
  <!-- SECTION 1 -->
  <section id="mc-section-1" class="mc-section-1 section" style="padding:30px 10px; 30px; 10px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 table-responsive">
            <div id="search-list"></div>
          </div>
          <div class="col-lg-6">
            <div id="map"></div>
          </div>          
        </div>
      </div>
  </section>
  <!-- END / SECTION 1 -->

  <!-- Load jQuery & Other Scripts -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById("map"), {
        zoom: 10,
        center: new google.maps.LatLng(38.764590, -77.550688),
        mapTypeId: 'roadmap'
      });
    };

    $(document).ready(function() {
      $("#searchButton").click(function(){
        var form_params = $("input[name^='input_']").serialize();
        $.ajax({
          type: "GET",
          url: "search_result",
          data: form_params,
          cache: false,
          dataType: "json",
          success: function(data) {
            addToMap(data);
            addToList(data);
          },
          error: function() {
            alert("Request Error! Please refresh the page.")
          }
        });
      });
    });

    function addToMap(data){
      for (var i=0; i<data.length; i++){
        var dataRow = data[i]
        var latLng = new google.maps.LatLng(dataRow.latitude,dataRow.longitude);
        var marker = new google.maps.Marker({
          position: latLng,
          map: map
        });
      }
    };

    function addToList(data){
      container = $('#search-list');
      $.each(data,function(i,data){
          // Create DOM
          var item = $('<div>').addClass('search-item'),
              name = $('<h1>'),
              addr = $('<p>'),
              link = $('<a>');
      
          // Add to DOM
          link.attr('href','http://www.google.com').text(data.name).appendTo(name);
      
          addr.text(data.address);
      
          // Append the infos to the item
          item.append(name,addr);
      
          // Append the item to the container
          item.appendTo(container);
      });      
      //$('#search-list').effect('fade', 100).show();
    };
  </script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsCilLl4Pts-_BVVKJLoR_PCC7OmQsRcA&callback=initMap"></script>
