
  <!-- SECTION 1 -->
  <section id="mc-section-1" class="mc-section-1 section" style="padding:20px 0px; 20px; 0px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 table-responsive">
            <div id="search-list"></div>
          </div>
          <div class="col-lg-6">
            <div id="map"></div>
            <div id="infowindow-content">
              <img src="" width="16" height="16" id="place-icon">
              <span id="place-name" class="title"></span><br>
              <span id="place-address"></span>
            </div>
          </div>          
        </div>
      </div>
  </section>
  <!-- END / SECTION 1 -->

  <!-- Load jQuery & Other Scripts -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script>
    var map;
    var markers = [];
    function initMap() {
      map = new google.maps.Map(document.getElementById("map"), {
        zoom: 10,
        center: new google.maps.LatLng(38.764590, -77.550688),
        mapTypeId: 'roadmap'
      });

      var input_address = document.getElementById("input_address");
      var autocomplete = new google.maps.places.Autocomplete(input_address);
      autocomplete.bindTo('bounds', map);

      var infowindow = new google.maps.InfoWindow();
      var infowindowContent = document.getElementById('infowindow-content');
      infowindow.setContent(infowindowContent);
      var marker = new google.maps.Marker({
        map: map,
        draggable: true,
        anchorPoint: new google.maps.Point(0, -29)
      });
      
      autocomplete.addListener('place_changed', function() {
        infowindow.close();
        marker.setVisible(false);
        var place = autocomplete.getPlace();
        if (!place.geometry) {
          // User entered the name of a Place that was not suggested and
          // pressed the Enter key, or the Place Details request failed.
          window.alert("No details available for input: '" + place.name + "'");
          return;
        }
    
        // If the place has a geometry, then present it on a map.
        if (place.geometry.viewport) {
          map.fitBounds(place.geometry.viewport);
        } else {
          map.setCenter(place.geometry.location);
        }
        map.setZoom(10);
        marker.setPosition(place.geometry.location);
        marker.setVisible(true);
    
        var address = '';
        if (place.address_components) {
          address = [
            (place.address_components[0] && place.address_components[0].short_name || ''),
            (place.address_components[1] && place.address_components[1].short_name || ''),
            (place.address_components[2] && place.address_components[2].short_name || '')
          ].join(' ');
        };
    
        infowindowContent.children['place-icon'].src = place.icon;
        infowindowContent.children['place-name'].textContent = place.name;
        infowindowContent.children['place-address'].textContent = address;
        infowindow.open(map, marker);

        $("#input_latitude").val(place.geometry.location.lat());
        $("#input_longitude").val(place.geometry.location.lng());
      });

      // marker dragging
      google.maps.event.addListener(marker, 'dragend', function(evt){
        current_lat = evt.latLng.lat().toFixed(6);
        current_long = evt.latLng.lng().toFixed(6);
        map.setCenter(marker.position);
        marker.setMap(map);
        map.setZoom(10);
        //reverse geocode and resubmit
        getAddress(current_lat, current_long);
      });
    };

    $(document).ready(function() {
      $("#searchButton").click(function(){
        submitSearch();
      });
    });

    function submitSearch() {
      var form_params = $("input[name^='input_']").serialize();
      $.ajax({
        type: "GET",
        url: "search_result",
        data: form_params,
        cache: false,
        dataType: "json",
        success: function(data) {
          renderMap(data);
          renderList(data);
        },
        error: function() {
          alert("Request Error! Please refresh the page.")
        }
      });
    };

    function renderMap(data){
      deleteMarkers();
      for (var i=0; i<data.length; i++){
        var dataRow = data[i]
        var latLng = new google.maps.LatLng(dataRow.latitude,dataRow.longitude);
        var marker = new google.maps.Marker({
          position: latLng,
          map: map
        });
        markers.push(marker);
      }
    };

    function renderList(data){
      container = $('#search-list').empty();
      $.each(data,function(i,data){
        // Create DOM
        var item = $('<div class="col-md-4 table-responsive">').addClass('search-item'),
          header = $('<h2>'),
          addr = $('<p>'),
          link = $('<a>');
        link.attr('href','http://www.google.com').text(data.name).appendTo(header);
        addr.text(data.address);
        item.append(header,addr); // Append the infos to the item
        item.appendTo(container); // Append the item to the container
      });
      // spread it 3 items per row
      var divs = $("#search-list > div");
      for(var i = 0; i < divs.length; i+=3) {
        divs.slice(i, i+3).wrapAll("<div class='row'></div>");
      };
    };

    function deleteMarkers() {
      for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(null);
      }
      markers = [];
    };

    function getAddress(lat, lng) {
      var latlng = new google.maps.LatLng(lat, lng);
      var geocoder = new google.maps.Geocoder();
      geocoder.geocode({ 'latLng': latlng }, function (results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
              geo_address = results[0].formatted_address;
              $("#input_address").val(geo_address);
              $("#input_latitude").val(lat);
              $("#input_longitude").val(lng);
              submitSearch();
          };
      });
    };
  </script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsCilLl4Pts-_BVVKJLoR_PCC7OmQsRcA&callback=initMap&libraries=places"></script>
