<% @page_title="Welcome #{@current_user.firstname}" %>

<!-- SECTION 1 -->
<section id="mc-section-1" class="mc-section-1 section" style="padding:30px 10px; 30px; 10px;">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<h2 class="h2-flush-top"><%=@page_title%></h2>
			</div>
			<div class="col-lg-7">
				<%= render "layouts/nav" %>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12" style="height:400px;">
				<p>General user info will go here, including graphs, name, searches, and etc.</p>
			</div>
		</div>
    </div>
</section>
<!-- END / SECTION 1 -->
