    <!-- FOOTER -->
    <footer id="footer" class="footer">
        <div class="second-footer">
            <div class="container">
                <div class="contact">
                    <div class="email">
                        <i class="icon md-email"></i>
                        <a href="#">learn@aspirr.com</a>
                    </div>
                    <div class="phone">
                        <i class="fa fa-mobile"></i>
                        <span>+1.866.555.7777</span>
                    </div>
                    <div class="address">
                        <i class="fa fa-map-marker"></i>
                        <span>Manassas, VA</span>
                    </div>
                </div>
                <p class="copyright">Copyright © <%= Date.today.year %> <%= SITE_NAME %>. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <!-- END / FOOTER -->

</div>
<!-- END / PAGE WRAP -->

<!-- Load Javascript -->
<% if %w(home aboutus user_home).include? params[:action] %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<% end %>
</body>
</html>